<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448451131889-2bijletumiptvjgocv1sp7vgnfhmp6sf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448451131889-2bijletumiptvjgocv1sp7vgnfhmp6sf</string>
	<key>API_KEY</key>
	<string>AIzaSyATqbODPYBEVrnD7-TFMlsfxoNcsgUQpDI</string>
	<key>GCM_SENDER_ID</key>
	<string>448451131889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itsencrypted.countOnMeFlutter</string>
	<key>PROJECT_ID</key>
	<string>countonme-260720</string>
	<key>STORAGE_BUCKET</key>
	<string>countonme-260720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448451131889:ios:cd13f259f5f7735458ac50</string>
	<key>DATABASE_URL</key>
	<string>https://countonme-260720.firebaseio.com</string>
</dict>
</plist>